html {
    background-color: #00d1b2;
}

.container {
    width: 80%;
    height: 100vh;
}

.title-homepage{
    padding-top : 5%;
}

.card-homepage {
    height: 200px;
    transition: all 0.2s;
}

.card-homepage:hover {
  transform: scale(1.1);
}

.columns-homepage{
    padding-top : 13%;
    height: 20%;
}

.card-content {
    color: red;
    font-size: 1.8em;
}
